.bold{
    font-weight:bold;
}


.h1{}
.h2{}
.h3{
    font-size: 0.5em;
}
.h4{}
.h5{}
.h6{}


.navbar-nav .user-menu .dropdown-menu li.user-header{
    height:75px;
}

aside.main-sidebar{
    height: 750px !important;
}

.center-elements{
    text-align: center;
}

.alert-error{
    position: absolute;
    right: 1%;
    top: 10%;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: white;
}

.sidebar ul li .menu-sidebar-a {
    color:white;
}

body{
    background-color: #eceff1;
}

input.secure {
    text-security: disc;
    -webkit-text-security: disc;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.menu-sidebar-a:hover {
    opacity: 1 !important;
}

.white_text {
    color: white;
}

